
@import 'colors';

.carousel {
    position: relative;
    background: $color-secondary;
    width: 100%;
    height: 500px;
}

.carousel__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

$overlay-offset: 350px;
.carousel__dots {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 10px;
    padding: 10px 10px 10px $overlay-offset;
}
.carousel__dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    border-radius: 100%;
    background: white;
    border: none;
    cursor: pointer;
    &:hover, &.carousel__dot--active {
        background: $color-primary;
    }
}