.parallax { position: fixed; pointer-events: none; }
.parallax__achor { position: relative; }

.parallax__image {
  @extend .parallax;
  top: 0;
  left: 0;
  z-index: 99999;
}


#p_armor {
  top: 0;
  left: 0;
  .parallax__image {
    width: 400px;
    height: auto;
    transform: translateX(-50px);
    //filter: drop-shadow(3px 3px 3px red);
  }
}