.parallax { position: fixed; }
.parallax__achor { position: relative; }

.parallax__image {
  @extend .parallax;
  top: 0;
  left: 0;
  z-index: 99999;
}


#p_armor {
  top: 200px;
  left: 0;
  transform: translateX(-50%);
}