/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Ubuntu|EB_Garamond";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  height: 100%; }

#root {
  min-width: 90px; }

body {
  background: #222;
  color: #ccc;
  font-family: 'EB Garamond', serif;
  overflow-x: hidden;
  line-height: 1.3; }

.main {
  max-width: 1100px;
  margin: auto;
  padding: 50px 20px;
  padding-left: 360px; }
  .main.main--right {
    text-align: right; }

h2, h3, h4, h4, h5, a {
  font-family: 'Ubuntu', sans-serif; }

h3, h4 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px; }

h4 {
  font-size: 20px; }

.info {
  text-align: right;
  margin: 20px 0; }
  .info.info--small {
    font-size: 18px; }

.main__cards {
  display: flex;
  justify-content: center;
  margin: 50px 0; }

.main__card {
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2); }
  .main__card:first-child {
    margin-left: 0; }
  .main__card:last-child {
    margin-right: 0; }

.panel {
  width: 100%;
  background: #b43838; }

.footer {
  width: 100%;
  height: 500px;
  text-align: center;
  background: #111; }

.footer {
  height: 300px; }

.reel, .video, .image {
  width: 100%;
  height: 200px;
  background: #111;
  margin: 10px 0;
  text-align: center; }

.video, .image {
  height: 500px;
  margin-top: 50px; }

.image {
  display: table-cell;
  height: 200px;
  width: 300px; }
