.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

.header__links {
  color: #ccc; }
  .header__links a {
    display: inline-block;
    padding: 20px;
    margin: 0 10px;
    color: #b43838;
    font-weight: bold;
    border-bottom: 2px solid transparent; }
    .header__links a:link, .header__links a:visited, .header__links a:active {
      color: inherit;
      text-decoration: none; }
      .header__links a:link:hover, .header__links a:visited:hover, .header__links a:active:hover {
        color: white;
        border-color: #b43838; }

.header__logo {
  float: left;
  padding-left: 150px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 78px;
  font-weight: bold;
  color: white; }
  .header__logo h1 {
    text-shadow: 5px 5px 0 #b43838; }
  .header__logo h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8); }

.header__links {
  float: right; }
