.visor {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1050px;
  margin-top: -95px; }
  .visor .visor__glass {
    animation-duration: 5s;
    animation-name: glowfade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    stroke-width: 1px; }
  .visor svg {
    width: 100%; }
    .visor svg .visor__main {
      fill: #ec8f8f;
      animation-duration: 5s;
      animation-name: fillfade;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    .visor svg .visor__overlay {
      opacity: 0.3;
      transform: translate(67%, 52%); }

.visor__top {
  position: fixed;
  top: -10px;
  left: 0; }

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 62px;
  text-align: center;
  font-weight: bold;
  color: white;
  perspective: 100;
  perspective-origin: center top; }
  .logo h1 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    transform: rotateX(-10deg) translateZ(10px); }
  .logo h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8); }

@keyframes fillfade {
  from {
    fill: #ecc48f; }
  to {
    fill: #ec8f8f; } }

@keyframes glowfade {
  from {
    stroke: #f6e2c7;
    filter: drop-shadow(0 0 5px #ecc48f); }
  to {
    stroke: #f6c7c7;
    filter: drop-shadow(0 0 5px transparent); } }
