$visor-color: rgb(236, 143, 143);
$visor-color-2: rgb(236, 196, 143);

.visor {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1050px;
    margin-top: -95px;
    .visor__glass {
        //transform: translateY(10px);
        animation-duration: 5s;
        animation-name: glowfade;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        //stroke: white;
        stroke-width: 1px;
    }

    svg {
        width: 100%;
        
        .visor__main {
            fill: $visor-color;
            animation-duration: 5s;
            animation-name: fillfade;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        .visor__overlay{
            opacity: 0.3;
            transform: translate(67%, 52%);
        }
    }
}

.visor__top {
    position: fixed;
    top: -10px;
    left: 0;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 62px;
    text-align: center;
    font-weight: bold;
    color:white;
    perspective: 100;
    perspective-origin: center top;

    h1 {
        text-shadow: 1px 1px rgba(black, 0.1);
        transform: rotateX(-10deg) translateZ(10px);
    }

    h2 {
        font-size: 30px;
        color: rgba(white, 0.8);
    }
}

@keyframes fillfade {
    from {
        fill: $visor-color-2;
    }

    to {
        fill: $visor-color;
    }
}

@keyframes glowfade {
    from {
        stroke: mix($visor-color-2, white, 50%);
        filter: drop-shadow(0 0 5px $visor-color-2);
    }

    to {
        stroke: mix($visor-color, white, 50%);
        filter: drop-shadow(0 0 5px transparent);
    }
}